body {
  font-family: 'Open Sans', sans-serif;
}

#logo-header {
  background: url(../img/logo.svg) no-repeat center center;
  width: auto;
  height: 3em;
}

#logo-footer {
  background: url(../img/logo_mono.svg) no-repeat center center;
  width: auto;
  height: 3em;
}

#map {
  height: 450px;
}

.ui.vertical.segment.hd {
  border-bottom: none;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.ui.vertical.segment.no-borders {
  border-bottom: none;
}

.ui.vertical.segment.no-borders.padding-zero {
  padding: 0;
}

.ui.vertical.segment.no-borders.main-page-category-choice {
  padding-top: 3em;
  font-size: 1.2em;
}

.ui.vertical.segment.main-page-divider {
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.ui.vertical.segment.results-header {
  padding-top: 0em;
  padding-bottom: 0em;
}

.ui.vertical.segment.results-description {
  padding-top: 0em;
  padding-bottom: 2.5em;
  color: rgba(0,0,0,.4);
}

.ui.vertical.segment.pagination-category {
  padding-top: 3em;
  padding-bottom: 3em;
}

.ui.pagination.menu .active.item {
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
}

.ui.input input {
  font-family: 'Open Sans', sans-serif;
}

.ui.search .prompt {
  border-radius: 0.3rem;
}

.ui.button {
  font-family: 'Open Sans', sans-serif;
}


.ui.header.main-page-divider {
  font-family: 'Open Sans', sans-serif;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.ui.segment .book-img {
  width: 80%;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  height: 250px;
  object-fit: cover;
}

.ui.card.category>.image>img, .ui.cards>.card.category>.image>img {
  height: 210px;
  object-fit: cover;
}

.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui) {
  font-size: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
  background: #2185d0;
}

.ui.segment.ft {
  padding-top: 2em;
  padding-bottom: 2em;
}

.ui.accordion .title:not(.ui) {
  font-family: 'Open Sans', sans-serif;
}

.ui.menu {
  font-family: 'Open Sans', sans-serif;
}

.ui.vertical.menu {
  width: auto;
}

.ui.selection.dropdown.category {
  min-width: 100%;
}

.ui.segment.book-page-description {
  height: 100%;
  padding: 2em;
}

.ui.vertical.segment.book-info {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.book-page-description-author {
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: rgba(0,0,0,.4);
}
