/* General CSS */

html { 
  overflow-y: scroll;
}

body {
  height: auto;
}

a {
  color: #118092;
}

a:hover {
  color: #0F707F;
}

.ui.breadcrumb a {
  color: #118092;
}

.ui.breadcrumb a:hover {
  color: #0F707F;
}

@media only screen and (min-width: 1650px) {
  .ui.fluid.container.custom-width {
    margin-top: 4.5em;
    width: 70%;
    min-height: calc(100vh - 12em);
  }

  .ui.fluid.container.navbar {
    width: 70%;
  }

  .ui.fluid.container.footer {
    width: 70%;
  }

  .ui.homepage.grid {
    width: 70%;
    left: 15%;
    right: 15%;
    top: 6.5em;
    margin-left: 0;
    margin-right: 0;
    position: absolute;
  }

  .ui.homepage-content.grid {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  /* .ui.homepage.grid {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5em;
  } */
}

@media only screen and (min-width: 1460px) and (max-width: 1649px) {
  .ui.fluid.container.custom-width {
    margin-top: 4.5em;
    width: 80%;
    min-height: calc(100vh - 12em);
  }

  .ui.fluid.container.navbar {
    width: 80%;
  }

  .ui.fluid.container.footer {
    width: 80%;
  }

  .ui.homepage.grid {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5em;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1459px) {
  .ui.fluid.container.custom-width {
    margin-top: 4.5em;
    width: 90%;
    min-height: calc(100vh - 12em);
  }

  .ui.fluid.container.navbar {
    width: 90%;
  }

  .ui.fluid.container.footer {
    width: 90%;
  }

  .ui.homepage.grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6.5em;
  }
}

@media only screen and (max-width: 1299px) {
  .ui.fluid.container.custom-width {
    margin-bottom: 3em;
    margin-top: 4.5em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em; 
  }

  .ui.fluid.container.navbar {
    width: 100%;
  }

  .ui.fluid.container.footer {
    width: 95%;
  }

  .ui.homepage.grid {
    margin-top: 6.5em;
    margin-left: 30%;
    text-align: center;
  }
}

.ui.massive.breadcrumb {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Only Footer CSS */

.ui.middle.aligned.grid.footer.text {
  margin-top: 1em;
  margin-bottom: 1em; 
}

/* Only All Books CSS */

.center.aligned.ui.grid.all-books.no-books {
  margin-top: 8%;
  margin-bottom: 0;
}

.center.aligned.ui.grid.all-books.no-books img {
  height: 18em;
  width: auto;
}

.center.aligned.ui.grid.all-books.no-books h3{
  font-weight: 100;
  margin-top: 1em;
}

#tagPanel {
  height: auto;
}

.ui.inline.loader.all-books {
  vertical-align: bottom;
}

.ui.grid.add-book-breadcrumb {
  margin: 0;
}

.ui.grid.add-book-breadcrumb .column {
  padding: 0;
}

.ui.dropdown.all-books.filter {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui.grid+.grid.add-book{
  margin-top: -1rem;
}

.sixteen.wide.column.all-books.filters {
  margin-top: 0;
  margin-bottom: 0; 
}

.ui.label.all-books.filters {
  margin-bottom: 2.5em;
}

@media only screen and (min-width: 1350px) {
  .image.horizontal-line {
    width: auto;
    height: 12em;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1349px) {
  .image.horizontal-line {
    width: auto;
    height: 10em;
    object-fit: cover;
  }
}

.ui.segment .all-books.sidebar-field {
  margin-top: 0.5em; 
}

.ui.vertical.segment.fullscreen-image {
  background: url(../images/homepage_background.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  border-bottom: none;
}

/* Only SignUp CSS */

.ui.grid.login, .ui.grid.signup {
  margin-top: 10em;
}

.ui.segment.login label, .ui.segment.signup label {
  text-transform: uppercase;
  float: left;
}

.ui.segment.signup h1 {
  margin-bottom: -0.5em;
}

.ui.segment.signup h3 {
  margin-bottom: 1.5em;
  font-weight: 100; 
}

.ui.segment.signup, .ui.segments .segment {
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.ui.horizontal.divider.login {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui.segment.login h2 {
  margin-bottom: 1.5em;
}

form.ui.large.form .field {
  margin-bottom: 2em;
}

.ui.segment.login p {
  margin-top: 1em;
  color: grey;
}

.ui.segment.login, .ui.segments .segment {
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.google-sign-in-btn {
  background: url(../images/button-google.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 56px;
  background-size: 100%;
}

.ui.error.message.login {
  margin-top: -1em;
  margin-bottom: 1.5em;
}

/* Only Homepage CSS */

.ui.inverted.segment.homepage {
  background: none
}

.ui.vertical.segment.homepage {
  padding: 0;
}

.ui.vertical.segment.homepage-content {
  border: 0;
}

.ui.vertical.segment.homepage-content.recent-books {
  border-bottom: none;
}

.ui.vertical.segment.homepage h1 {
  font-size: 4.5em;
  margin-top: 3.5em;
  margin-bottom: 0.5em;
}

.ui.vertical.segment.homepage video {
  height: 100vh;
  width: 100%;
  object-fit: fill;
  position: relative;
}

.ui.homepage-new.grid {
  position: absolute;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  top: 6.5em;
}

.black-box {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
}

.card.homepage-content {
  height: 21.5em;
}

.card.homepage-content .image {
  height: 100%;
}

.ui.cards>.card.homepage-content>.image>a>img {
  height: 100%;
  width: 100%;
  object-fit: fill
}

.ui.vertical.segment.homepage-content.recent-books {
  margin-top: 3.5em;
  margin-bottom: 5em
}

.ui.vertical.segment.homepage-content.recent-books .ui.five.cards {
  margin-top: 0.5em;
}

.ui.five.cards>.card.homepage-content {
  width: calc(20% - 2.5em);
  margin-left: 1.25em;
  margin-right: 1.25em
}

.ui.vertical.segment.homepage-content.recent-books h2 {
  color: #118092;
  text-transform: uppercase
}

#map {
  width: 100%;
  height: 80vh;
}

.ui.vertical.segment.homepage-content.stat {
  margin-top: 2.5em;
  margin-bottom: 2em
}

/* .ui.vertical.segment.homepage {
  background: url(../images/homepage_background.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  border-bottom: none;
}

.ui.vertical.segment.homepage h1 {
  font-size: 4.5em;
  margin-top: 3em;
  margin-bottom: 0.5em;
} */

.ui.teal.button, .ui.teal.buttons .button {
  background-color: #118092;
}

.ui.menu .item>img:not(.ui) {
  width: 12em;
  margin-right: 2em;
}

.ui.menu.fixed {
  background: #118092;
}

/* Only Secondbar CSS */

#navbar_account {
  height: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.ui.menu .item.avatar>img:not(.ui) {
  width: auto;
}

#avatar img {
  height: 1.7em;
  margin-right: -0.5em;
}

.ui.input.search-navbar>input {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  width: 20em;
}

.ui.menu .item.navbar {
  padding-top: 0.85em;
  padding-bottom: 0.85em; 
}

.ui.menu .item.navbar.text {
  font-size: 1.4em;
  text-transform: uppercase;
}

.noBoldMenuItem {
  font-weight: normal!important;
}

.ui.menu .ui.dropdown .menu>.active.item {
  background: rgba(0, 0, 0, 0)!important;
}

.ui.menu .ui.dropdown .menu>.item:hover {
  background: rgba(0, 0, 0, 0.05) !important;
}

.ui.secondary.menu {
  margin-bottom: 1.2em;
  padding: 2em;
}

.ui.vertical.segment.bd {
  border-bottom: none;
  margin-bottom: 1.2em;
}

.ui.vertical.segment.ft {
  background: #f2f2f3;
  color: #92969a;
  border-bottom: none;
  height: 7.5em;
}

.ui.list.horizontal-line {
  width: 100%;
}

.item.horizontal-line {
  margin-bottom: 1.2em;
}

.title.horizontal-line {
  font-size: 1.6em;
  margin-bottom: 0;
}

.author.horizontal-line {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-style: italic;
  color: rgba(0,0,0,.4);
}

.description.horizontal-line {
  margin-bottom: 1.5em;
}

.condition.horizontal-line {
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

.genre.horizontal-line {
  margin-bottom: 0.5em;
  font-size: 1.1em;
}

.price.horizontal-line {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

#book_image {
  cursor: pointer;
}

.more-about-book .line {
  border-left: thick solid #118092;
  padding-left: 0.8em;
}

.line-content .title {
  margin-bottom: 0.5em;
}

.line-content .ui.teal.large.image.label {
  margin-top: 0.25em;
  margin-bottom: 1.25em;
  margin-left: 0;
}

.line-contact {
  margin-bottom: 0.5em;
}

.ui.segment.information.more-about-book {
  padding: 2em;
  margin-bottom: 3em;
}

.author.more-about-book {
  font-size: 1.4em;
  font-style: italic;
  color: rgba(0,0,0,.4);
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.ui.basic.table {
  margin-bottom: 2.5em;
}

.description.more-about-book {
  font-size: 1.15em;
  margin-bottom: 2.5em;
}

.description.more-about-book .title {
  font-weight: bold;
}

.seller.more-about-book {
  font-size: 1.15em;
}

.seller.more-about-book .title {
  font-weight: bold;
}

.seller.more-about-book .text {
  margin-bottom: 0.35em;
}

.ui.segment.pricebox.more-about-book {
  padding: 2em;
}

.price.more-about-book {
  font-size: 2em;
  margin-bottom: 1em;
}

.ui.grid.main {
  margin-bottom: 3em;
  margin-top: 6.5em;
}

.seller.horizontal-line .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.seller.horizontal-line .name, .place {
  margin-bottom: 0.5em;
  color: #92969a;
}

.seller.horizontal-line {
  color: #92969a;
}

.ui.grid>.row.divider {
  padding: 0;
}

/* Only Sell Book CSS */

.custom-width .ui.grid .eleven.wide.column {
  margin-bottom: 3em;
}

.six.wide.field.sell-book.isbn {
  background: url(../images/barcode.png);
  height: 5.5em;
  background-size: cover; 
  padding-left: 0.7em;
  padding-right: 0.7em;
  margin-left: 0.5em;
}

.six.wide.field.sell-book.isbn input {
  margin-top: 3.4em;
  text-align: center;
}

.ten.wide.field.sell-book.magic-fill {
  margin-top: 3.4em;
  margin-left: 1em;
}

.sell-book.isbn-info {
  display: inline-block;
  font-size: 0.9em;
  color: grey;
  margin-left: 1em;
}

img.ui.fluid.image.sell-book.upload-image {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.ui.segment.sell-book {
  padding: 2.25em;
}

.ui.dividing.header.sell-book {
  margin-bottom: 2em;
}

.ui.dividing.header.sell-book.second {
  margin-top: 3em;
}

.ui.error.message.sell-book {
  margin-bottom: 2.5em;
  width: 60%;
}

.ui.form .field.sell-book {
  margin-bottom: 2em;
}

.ui.form .field.sell-book.description {
  width: 80%;
  margin-bottom: 2em;
}

.ui.form .field.sell-book label {
  margin-bottom: 0.8em;
  font-size: 1.05em;
}

.ui.form .field.sell-book label span {
  color: red;
}

.book-listing-hover:hover {
  box-shadow: 0 0 6px #118092;
}

.ui.teal.button.upload-image {
  margin-top: 1em;
  margin-bottom: 1em; 
}

.ui.tabular.menu .item {
  font-size: 1.15em;
}

.page-title {
  margin-bottom: 1.5em;
}

/* Only Dashboard CSS */

.dashboard .ui.items>.item .extra {
  width: 5%;
  margin-left: 1em;
  margin-top: 0;
}

.dashboard .ui.items>.item .extra i {
  margin-top: 0;
}

.eight.wide.column.dashboard {
  padding: 0;
}

.ui.secondary.menu.myaccount {
  padding: 0;
  margin: 0;
}

.ui.secondary.menu.myaccount .item.myaccount.breadcrumb {
  padding: 0;
  margin: 0;
}

.myaccount .right.menu {
  font-size: 1.15em;
}

.ui.segment.dashboard {
  margin-top: 0;
}

.ui.header.dashboard {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  color: #118092;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.ui.header.dashboard .content {
  font-size: 0.9em;
  font-weight: normal;
}

.ui.header.dashboard>.icon {
  font-size: 1.25em;
}

.dashboard .ui.items>.item>.image>img {
  width: 80%;
}

.dashboard .content {
  padding: 0;
}

.dashboard .ui.items>.item>.image+.content {
  padding-left: 0; 
}

.dashboard .ui.items>.item {
  position: relative;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: 2.5em;
  padding-right: 1.5em;
  margin: 0;
  height: 14em;
}

.item.dashboard:nth-child(odd) {
  background: rgba(242, 242, 243, 0.8);
}

.dashboard .ui.items>.item>.content>.header:not(.ui) {
  font-weight: normal;
}

.item-label {
  position: absolute;
  bottom: 1em;
}

.dashboard .item-description-watch-list {
  margin-top: 1em;
}

.dashboard .item-description-sales-activity {
  margin-top: 1em;
}

.item.dashboard a:hover {
  color: #0F707F;
}

/* Only My Account CSS */

.ui.segment.myaccount {
  margin-top: 0;
  padding: 2.25em;
}

.myaccount .fullname h1 {
  font-weight: normal;
  font-size: 2.5em;
}

.myaccount .avatar {
  width: 85%;
}

.myaccount .information {
  font-size: 1.25em;
}

.information-field {
  margin-bottom: 1.25em;
}

.edit-mode-field {
  margin-bottom: 1em;
}

.edit-mode-field i {
  font-size: 1.25em;
  margin-right: 0.5em;
}

.edit-mode-field-email {
  margin-bottom: 1em;
  font-size: 1.25em;
}

.edit-mode-field-email i {
  margin-bottom: 1em;
  font-size: 1.25em;
  margin-right: 0.5em;
}

.myaccount .information i {
  margin-right: 0.5em;
}

.myaccount .middle.aligned.fourteen.wide.column {
  padding-top: 0;
}

/* Only Book Page CSS */

.ui.grid.book-page {
  margin-bottom: 0;
}
