/* General CSS */

html { 
  overflow-y: scroll;
}

.home {
  height: auto;
}

a {
  color: #118092;
}

a:hover {
  color: #0F707F;
}

.ui.breadcrumb a {
  color: #118092;
}

.ui.breadcrumb a:hover {
  color: #0F707F;
}

@media only screen and (min-width: 1650px) {
  .ui.fluid.container.custom-width {
    margin-bottom: 3em;
    margin-top: 6.5em;
    width: 70%;
  }

  .ui.fluid.container.navbar {
    width: 70%;
  }

  .ui.fluid.container.footer {
    width: 70%;
  }
}

@media only screen and (min-width: 1460px) and (max-width: 1649px) {
  .ui.fluid.container.custom-width {
    margin-bottom: 3em;
    margin-top: 6.5em;
    width: 80%;
  }

  .ui.fluid.container.navbar {
    width: 80%;
  }

  .ui.fluid.container.footer {
    width: 80%;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1459px) {
  .ui.fluid.container.custom-width {
    margin-bottom: 3em;
    margin-top: 6.5em;
    width: 90%;
  }

  .ui.fluid.container.navbar {
    width: 90%;
  }

  .ui.fluid.container.footer {
    width: 90%;
  }
}

@media only screen and (max-width: 1299px) {
  .ui.fluid.container.custom-width {
    margin-bottom: 3em;
    margin-top: 6.5em;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em; 
  }

  .ui.fluid.container.navbar {
    width: 100%;
  }

  .ui.fluid.container.footer {
    width: 95%;
  }
}

/* Only Footer CSS */

.ui.middle.aligned.grid.footer.text {
  margin-top: 1em;
  margin-bottom: 1em; 
}

/* Only All Books CSS */

@media only screen and (min-width: 1350px) {
  .image.horizontal-line {
    width: auto;
    height: 12em;
    object-fit: cover;
  }
}

@media only screen and (max-width: 1349px) {
  .image.horizontal-line {
    width: auto;
    height: 10em;
    object-fit: cover;
  }
}

.ui.segment .all-books.sidebar-field {
  margin-top: 0.5em; 
}

.ui.menu .ui.dropdown .menu>.item:hover {
  background: rgba(0, 0, 0, 0.05)!important;
 }

.black-box {
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 0;
}

.ui.vertical.segment.fullscreen-image {
  background: url(../images/homepage_background.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  border-bottom: none;
}

/* Only SignUp CSS */

.ui.grid.login, .ui.grid.signup {
  margin-top: 10em;
}

.ui.segment.login label, .ui.segment.signup label {
  text-transform: uppercase;
  float: left;
}

.ui.segment.signup h1 {
  margin-bottom: -0.5em;
}

.ui.segment.signup h3 {
  margin-bottom: 1.5em;
  font-weight: 100; 
}

.ui.segment.signup, .ui.segments .segment {
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.ui.horizontal.divider.login {
  margin-top: 2em;
  margin-bottom: 2em;
}

.ui.segment.login h2 {
  margin-bottom: 1.5em;
}

form.ui.large.form .field {
  margin-bottom: 2em;
}

.ui.segment.login p {
  margin-top: 1em;
  color: grey;
}

.ui.segment.login, .ui.segments .segment {
  padding-top: 3em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
}

.google-sign-in-btn {
  background: url(../images/button-google.png) no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 56px;
  background-size: 100%;
}

.ui.error.message.login {
  margin-top: -1em;
  margin-bottom: 1.5em;
}

.ui.vertical.segment.homepage {
  background: url(../images/homepage_background.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
  color: #ffffff;
  border-bottom: none;
}

.ui.vertical.segment.homepage h1 {
  font-size: 4.5em;
  margin-top: 3em;
  margin-bottom: 0.5em;
}

.ui.teal.button, .ui.teal.buttons .button {
  background-color: #118092;
}

.ui.menu .item>img:not(.ui) {
  width: 12em;
  margin-right: 2em;
}

.ui.menu.fixed {
  background: #118092;
}

.ui.input.search-navbar>input {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  width: 20em;
}

.ui.menu .item.navbar {
  padding-top: 0.85em;
  padding-bottom: 0.85em; 
}

.ui.menu .item.navbar.text {
  font-size: 1.4em;
  text-transform: uppercase;
}

.noBoldMenuItem {
  font-weight: normal!important;
}

.ui.menu .ui.dropdown .menu>.active.item {
  background: rgba(0, 0, 0, 0)!important;
}

.ui.secondary.menu {
  margin-bottom: 1.2em;
  padding: 2em;
}

.ui.vertical.segment.bd {
  border-bottom: none;
  margin-bottom: 1.2em;
}

.ui.vertical.segment.ft {
  background: #f2f2f3;
  color: #92969a;
  border-bottom: none;
}

.ui.list.horizontal-line {
  width: 100%;
}

.item.horizontal-line {
  margin-bottom: 1.2em;
}

.title.horizontal-line {
  font-size: 1.6em;
  margin-bottom: 0;
}

.author.horizontal-line {
  font-size: 1.2em;
  margin-top: 0.5em;
  font-style: italic;
  color: rgba(0,0,0,.4);
}

.description.horizontal-line {
  margin-bottom: 1.5em;
}

.condition.horizontal-line {
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

.price.horizontal-line {
  font-size: 1.5em;
  font-weight: bold;
}

#book_image {
  cursor: pointer;
}

.ui.segment.information.more-about-book {
  padding: 2em;
}

.author.more-about-book {
  font-size: 1.4em;
  font-style: italic;
  color: rgba(0,0,0,.4);
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.ui.basic.table {
  margin-bottom: 2.5em;
}

.description.more-about-book {
  font-size: 1.15em;
  margin-bottom: 2.5em;
}

.description.more-about-book .title {
  font-weight: bold;
}

.seller.more-about-book {
  font-size: 1.15em;
}

.seller.more-about-book .title {
  font-weight: bold;
}

.seller.more-about-book .text {
  margin-bottom: 0.35em;
}

.ui.segment.pricebox.more-about-book {
  padding: 2em;
}

.price.more-about-book {
  font-size: 2em;
  margin-bottom: 1em;
}

.ui.grid.main {
  margin-bottom: 3em;
  margin-top: 6.5em;
}

.seller.horizontal-line .title {
  font-weight: bold;
  margin-bottom: 1em;
}

.seller.horizontal-line .name, .place {
  margin-bottom: 0.5em;
  color: #92969a;
}

.seller.horizontal-line {
  color: #92969a;
}

.ui.grid>.row.divider {
  padding: 0;
}

/* Only Sell Book CSS */

.three.wide.field button {
  height: 100%;
}

.ui.segment.sell-book {
  padding: 2.25em;
}

.ui.dividing.header.sell-book {
  margin-bottom: 2em;
}

.ui.dividing.header.sell-book.second {
  margin-top: 3em;
}

.ui.error.message.sell-book {
  margin-bottom: 2.5em;
  width: 60%;
}

.ui.form .field.sell-book {
  margin-bottom: 2em;
}

.ui.form .field.sell-book.description {
  width: 80%;
  margin-bottom: 2em;
}

.ui.form .field.sell-book label {
  margin-bottom: 0.8em;
  font-size: 1.05em;
}

.ui.form .field.sell-book label span {
  color: red;
}

.book-listing-hover:hover {
  box-shadow: 0 0 6px #118092;
}

.ui.teal.button.upload-image {
  margin-top: 1em;
  margin-bottom: 1em; 
}

.ui.tabular.menu .item {
  font-size: 1.15em;
}

.page-title {
  margin-bottom: 1.5em;
}

.history-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.5em;
}

.history-title .icon {
  margin-right: 1em;
}

.ui.items>.item>.content>a.book-title {
  font-size: 1.15em;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.ui.items>.item>.image.history>img {
  width: 90%;
}

.ui.grid.history {
  padding: 2em;
}

.tab-history {
  margin-bottom: 2em;
}
